<label id="{{id}}_selected_file_display">{{value}}</label>
<input type="button" id="{{id}}_upload_button" value="{{buttonText}}" class="{{cssClass}}"/>
<input type="hidden" id="{{id}}_selected_file" name="{{id}}" value="{{value}}" />
