<div id="{{id}}_selected_file_preview">
{{ filePreview|raw }}
</div>
<div>
<label><strong>Filename: </strong></label><label id="{{id}}_selected_file_display">{{filename}}</label>
</div>
<input type="button" id="{{id}}_upload_button" value="{{buttonText}}" class="{{cssClass}}"/>
<input type="hidden" id="{{id}}_selected_file" name="{{id}}" value="{{value}}" />
