<label for="{{id}}{{elementIds.link_label}}"> Url Label</label>
<input type="text" id="{{id}}{{elementIds.link_label}}" name="{{id}}{{elementIds.link_label}}" value="{{link_value_label}}"/>
<label for="{{id}}{{elementIds.link_url}}"> Url Link</label>
<input type="text" id="{{id}}{{elementIds.link_url}}" name="{{id}}{{elementIds.link_url}}" value="{{link_value_url}}"/>