<div id="{{ element_id }}_edit_view" class="rating_selector_simple">
    <div class="ui-slider-handle custom-handle_simple">{{ value }}</div>
</div>
<input type="hidden" id="{{element_id}}_value" name="{{element_id}}" value="" /> 